#services-section{
  padding: 100px 15px;
  background: #f9fafc;
}

#services-section .title h1{
  font-size: 4rem;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 95px;
}

#services-section .services{
  display: flex;
  width: 90%;
  margin: auto;
  align-items: center;
}

#services-section .media{
  background: aquamarine;
  flex: 1;
  justify-content: center;
  border: 2px solid #c36cbb;
}

.btn-visit{
  border: 2px solid #c36cbb;
  border-radius: 15px;
  background: transparent;
  font-size: 16px;
  letter-spacing: 3px;
  color: #c36cbb;
  cursor: pointer;
}

.btn-visit:hover{
  background: blueviolet;
  color: #f9fafc;
  font-size: 20px;
}

#services-section .webdev{
  background: antiquewhite;
  flex: 1;
  border: 2px solid #c36cbb;
}


/* Tablets */
@media only screen and (max-width: 960px){

}

/* Tablets */
@media only screen and (max-width: 767px){

}
